<?xml version="1.0"?>
<configuration>
  
	  <connectionStrings>
		  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-0FKG21B\SQLEXPRESS;Initial Catalog=project-6;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	  </connectionStrings>
	  <system.web>
		  <authorization>
			  <allow roles="Admin"/>
			  <deny users="*"/>
		  </authorization>
		 </system.web>
  
	
</configuration>
